{{define "town-content"}}
<div id="town-content">
    <h2 class="text-2xl font-semibold mb-4">Biggityburg</h2>
    <br />
    <p>Upon entering the quaint town nestled between rolling hills, you are met with a blend of familiar and mysterious
        sights. The cobblestone streets wind through the heart of the settlement, where a central marketplace bustles
        with activity. Stalls of various sizes showcase an assortment of goods, from basic necessities to trinkets of
        unknown origin.</p>
    <br />
    <p>The architecture is a mix of modest cottages and sturdy stone structures, giving the town an air of resilience. A
        tavern at the town square offers a gathering place for locals and travelers alike, with rumors and whispers
        circulating in the air like a constant hum. The inn, marked by a weathered sign, provides weary adventurers a
        place to rest and share tales of their journeys.</p>
    <br />
    <p>Surrounding the town are thick woods that seem to stretch endlessly, harboring secrets and untold stories. A
        modest temple stands on the outskirts, a silent guardian watching over the town. The townsfolk, a diverse group
        with stories etched into their expressions, go about their daily routines, casting furtive glances toward
        strangers.</p>
    <br />
    <p>As night falls, the warm glow of lanterns illuminates the streets, creating an enchanting ambiance. Shadows dance
        on the edges of buildings, hinting at mysteries waiting to be unraveled. Biggityburg beckons adventurers
        to explore its depths, discover its hidden lore, and perhaps find their own place in its unfolding narrative.
    </p>
</div>
{{end}}