{{define "forest-content"}}
<div id="forest-content">
    <h2 class="text-2xl font-semibold mb-4">The Forest </h2>
    <br />
    <p>The Forest, home to evil creatures and evildoers of all sorts.</p>
    <br />
    <p>The thick foliage of the forest restricts your view to only a few yards in most places. The paths would be
        imperceptible except for your trained eye. You move as silently as a soft breeze across the thick moss covering
        the
        ground, wary to avoid stepping on a twig or any of the numerous pieces of bleached bone that populate the forest
        floor, lest you betray your presence to one of the vile beasts that wander the forest.</p>
</div>
{{end}}